

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}body {
  background: #002162;
  background: linear-gradient(90deg, #002162, #000f2c);
  font-family: Poppins, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 54px 54px 0;
  zoom: .75;
  animation: fadeInAnimation 3s forwards
}
/* Logo */
.logo img {
  margin-left: 46px;
  margin-top: 3px;
  width: 84px;
}
header {
  left: 0;
  padding: 81px 55px 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav {
  align-items: center;
  backdrop-filter: blur(39.1676864624px);
  background-color: rgba(0, 0, 0, 0.22);
  border: 1px solid #00b4d8;
  border-radius: 78.335px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.close-button,
.mobile-only,
button.menu-button {
  display: none;
}
.logo img {
  height: 100px;
  width: 100px;
}

button.menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 24px;
  padding: 10px;
}

button.menu-button img {
  width: 24px;
  height: 24px;
}

nav ul.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul.nav-links li {
  margin: 0 10px;
}

nav ul.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

button.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  right: 16px;
  top: 13px;
}

button.close-button img {
  width: 24px;
  height: 24px;
}
/* nav ul.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 74px;
} */

nav ul.nav-links li:last-child a {
  border-bottom: 0;
}

nav ul li a {
  font-size: 24px;
  margin: 0 2.55rem;
  transition: color 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul li a:hover {
  color: #3f0;
  opacity: 0.8;
  transform: rotate(1turn) scale(1.2) translateY(-5px);
}
/* Google Review Cards Heading */
.googleReviewCardsHeading {
  font-size: 96px;
  font-weight: 900;
  line-height: 105%;
  color: #fff;
}

/* Card Content */
.CardContent {
  display: flex;
  flex-direction: column;
}

/* Review Card Small Box */
.reviewCardSmallBox {
  display: none;
}

/* Google Review Card Image */
.googleReviewCardImage {
  width: 100%;
  margin: 0;
}

/* Description Paragraph */
.DescriptionP {
  font-size: 40px;
  width: 85%;
  color: #fff;
}

/* Add to Cart Button */
.AddToCartButton {
  width: 100%;
}
/* Root and Body */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Header Component */
header {
  left: 0;
  padding: 81px 55px 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav {
  align-items: center;
  -webkit-backdrop-filter: blur(39.1676864624px);
  backdrop-filter: blur(39.1676864624px);
  background-color: rgba(0, 0, 0, 0.22);
  border: 1px solid #00b4d8;
  border-radius: 78.335px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.close-button,
.filter,
.mobile-only,
.tabs-slider input[type=radio],
button.menu-button,
img.minus,
img.plus {
  display: none;
}

.logo img {
  height: 100px;
  width: 100px;
  margin-left: 46px;
  margin-top: 3px;
}

nav ul.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 74px;
}

nav ul.nav-links li:last-child a {
  border-bottom: 0;
}

nav ul li a {
  color: #fff;
  font-size: 24px;
  margin: 0 2.55rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul li a:hover {
  color: #3f0;
  opacity: 0.8;
  transform: rotate(1turn) scale(1.2) translateY(-5px);
}

button.menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 10px;
  line-height: 0;
}

button.menu-button img {
  width: 24px;
  height: 24px;
}

button.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  right: 16px;
  top: 13px;
}

button.close-button img {
  width: 24px;
  height: 24px;
}
/* Footer */
footer {
  background-color: #01001f;
  border-radius: 128px 128px 0 0;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  align-items: center;
  color: #fff;
  display: block;
  padding: 50px;
}

/* Row */
footer .row {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Column */
footer .column {
  margin: 10px;
}

/* Social */
footer .social a {
  display: inline-block;
  margin-right: 10px;
}

/* App */
footer img.app {
  width: 213px;
}

/* Green */
footer button.green {
  background: #3f0;
}

/* Copy */
footer .copy {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

/* MTAP Footer Image */
.mtapFooterImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Logo */
  .logo img {
    margin-left: 0;
    margin-top: 0;
    width: 70px;
  }

  /* Google Review Cards Heading */
  .googleReviewCardsHeading {
    font-size: 45px !important;
  }

  /* Card Content */
  .CardContent {
    flex-direction: column;
  }

  /* Review Card Small Box */
  .reviewCardSmallBox {
    display: none;
  }

  /* Google Review Card Image */
  .googleReviewCardImage {
    width: 100%;
    margin: 0;
  }

  /* Description Paragraph */
  .DescriptionP {
    font-size: 20px;
    width: 85%;
  }
   button.menu-button,
    button.close-button {
        display: block;
    }

    nav ul.nav-links {
        background: #000;
        border-radius: 0;
        display: none;
        height: 100%;
        margin: 0;
        opacity: 0;
        order: 1;
        overflow-y: hidden;
        overflow: auto;
        padding: 0;
        position: fixed;
        right: 0;
        top: 129px;
        width: 100%;
        z-index: 9;
    }

    nav ul.nav-links.active {
        display: block;
        opacity: 1;
        padding: 70px 15px 15px;
        transition: opacity 0.5s, transform 0.5s, width 0s 0.5s, height 0s 0.5s;
    }

    nav ul.nav-links li {
        margin: 0;
    }

    nav ul.nav-links li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        display: block;
        font-size: 24px;
        margin: 0;
        padding: 6px;
        text-align: center;
    }
  /* Add to Cart Button */
  .AddToCartButton {
    width: 100%;
  }

  /* Footer */
  footer {
    border-radius: 88px 88px 0 0;
    margin: 20px;
  }

  footer h3 {
    color: #60c447;
    font-size: 26px;
    font-weight: 600;
  }

  footer img.app {
    width: 168px;
  }

  footer button {
    height: auto;
    padding: 20px;
  }

  footer .row {
    text-align: left;
  }

  footer button,
  footer img.app {
    margin-right: 10px;
    min-width: 130px;
  }

  footer .row:first-child .column:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  footer .row:nth-child(2) {
    text-align: center;
  }

  footer .row:nth-child(2) .column:nth-child(2) {
    margin-bottom: 0;
  }

  .social svg {
    width: 49px;
  }
}