/* Global styles */
body {
    background: #002162;
    background: linear-gradient(90deg, #002162, #000f2c);
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Required class styles */
  .googleReviewCardsHeading {
    font-size: 45px;
  }
  

  .reviewCardSmallBox {
    display: none;
  }
  
  .googleReviewCardImage {
    width: 100%;
    margin: 0;
  }
  
  .AddToCartButton {
    width: 100%;
  }
  
  .DescriptionP {
    font-size: 20px;
    width: 85%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .column {
    margin: 10px;
    flex-basis: 100%;
    margin: 0 0 30px;
  }
  
  .green {
    background: #3f0;
  }
  
  .copy {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }
  
  .social a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social svg {
    width: 49px;
  }
  
  .app {
    width: 213px;
    margin-right: 10px;
    min-width: 130px;
  }
  
  .mtapFooterImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .logo img {
    margin-left: 46px;
    margin-top: 3px;
    width: 84px;
  }
  
  /* Media queries */
  @media (max-width: 1600px) {
    body {
      padding: 15px;
    }
  
    footer .row {
      flex-wrap: wrap;
      gap: 5px;
      margin-bottom: 10px;
    }
  
    .logo img {
      margin-left: 0;
      margin-top: 0;
      width: 70px;
    }
  }
  
  @media (max-width: 1266px) {
    .logo img {
      width: 70px;
    }
  }
  
  @media (max-width: 1024px) {
    footer {
      display: flex;
      flex-wrap: wrap;
    }
  
    .footer-column {
      flex: 0 0 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 768px) {
    .googleReviewCardsHeading {
      font-size: 45px;
    }
  
    .CardContent {
      display: flex;
      flex-direction: column;
    }
  
    .DescriptionP {
      font-size: 20px;
      width: 85%;
    }
  
    .reviewCardSmallBox {
      display: none;
    }
  
    .app {
      width: 168px;
    }
  
    footer {
      border-radius: 88px 88px 0 0;
      margin: 20px;
    }
  
    footer h3 {
      color: #60c447;
      font-size: 26px;
      font-weight: 600;
    }
  
    footer img.app {
      width: 168px;
    }
  
    footer button {
      height: auto;
      padding: 20px;
    }
  
    footer .row:first-child .column:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    footer .row:nth-child(2) {
      text-align: center;
    }
  
    footer .row:nth-child(2) .column:nth-child(2) {
      margin-bottom: 0;
    }
    .CardContent {
        display: flex;
        flex-direction: column;
      }
      
    .social svg {
      width: 49px;
    }
  }