@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*, :before, :after{box-sizing: border-box;}

html body.google-review-cards{font-size: 1.3rem;line-height: 1.5em;color: #fff;margin: 0;padding: 0;font-family: 'Poppins';background-color: rgba(7, 6, 49, 1) !important;}



/* header { max-width: 1400px; margin: auto; padding: 0 10px 40px; } 
header a.logo-center { display: flex; margin: auto; width: auto; max-width: 140px; justify-content: center; padding: 10px 0; } */ 

html body.google-review-cards .container { max-width: 1200px; margin: auto; padding: 0 10px; } 
html body.google-review-cards .container section { display: flex; width: 100%; flex-wrap: wrap; align-items: center; align-content: center; } 
html body.google-review-cards .container .section .left-side {min-height: 500px;width: 50%;background: url(../images/sect-1-bg.svg) no-repeat right center; background-size: auto 1%;position: relative;} 


html body.google-review-cards .container section .right-side { width: 50%;padding:0 0 0 5% } 
html body.google-review-cards  section h2 { font-size: 3.4rem; line-height: 1.1em; font-weight: 800; text-transform: uppercase; } 
html body.google-review-cards  section h2 strong { color: #33ff00; } 
html body.google-review-cards  section h2 { margin: 0; font-family: 'Poppins'; color: #fff;} 
html body.google-review-cards  section > h2.text-center {width: 100%;text-align: center;margin: 2em 0 1em;color: #fff;} 
html body.google-review-cards .container section .cta a.lightred-cta { background: #ff6363; text-decoration: none; color: #fff; font-family: 'Poppins'; font-weight: 800; padding: 8px 40px; line-height: 1.5em; border-radius: 30px; display: inline-block; margin: 10px 0 0; font-size: 1.8rem;position: relative; overflow: hidden; z-index: 1; } 
html body.google-review-cards .container section .cta a.lightred-cta:before { width: 150%; height: 100%; transform: skewX(-20deg); background: #e03535; position: absolute; left: -200%; top: 0; content: ''; z-index: -1; transition: all 0.5s ease-in; } 
.html body.google-review-cards .container section .cta a.lightred-cta:hover:before { left: 0; }
html body.google-review-cards .container section .left-side .card {position: absolute;bottom: -15%;right: 2%;width: 230px;height: 177px;}

html body.google-review-cards  section .left-side .video { position: absolute; width: 312px;  border-radius: 30px; margin: auto; top: 0; bottom: 0; height: 110%; left: 15%; right: 0; padding: 3px; background: #d9d9d9;animation: videoframe 0.9s ease-in 0.8s 1 normal; } 
html body.google-review-cards  section .left-side .video video {opacity: 0; width: 100%; height: 100%; border-radius: 30px; animation: videos 2s cubic-bezier(0.34, 0.43, 0, 1.1) 1.5s 1 normal forwards;position: absolute; left: -50vw; right: -50vw; top: 0; bottom: 0; margin: auto;} 
html body.google-review-cards .container section.section.section-1 {margin: 3em 0 2em;}

@keyframes videoframe{
   0%{ top:75%;background-color: transparent;box-shadow: 0 0 0 3px #d9d9d95d inset;}
   50%{top:10%;background-color: transparent;}
    100%{ top:0;box-shadow:  0 0 0 0;background-color: #d9d9d9}
 } 

 @keyframes videos{
   from{ width: 80%;height: 85%;opacity: 0;}
    to { width: 100%;height:100%;opacity: 1;position: static;}
 } 
 .container .section.section-1 .left-side .card{}
 html body.google-review-cards .container section.section-1 .left-side .card .card-img{position: absolute;left: 0;top:0;right: 0;}
 html body.google-review-cards .container section.section-1 .left-side .card .card-1{opacity: 0;animation: cards 2s cubic-bezier(0.97, 0.08, 0, 1) 2s 1 normal forwards;width: 85%;/* height: 85%; */}
 html body.google-review-cards .container section.section-1 .left-side .card .card-2{opacity: 0;top: 15px;animation: cards 2.5s cubic-bezier(0.97, 0.08, 0, 1) 2.2s 1 normal forwards;width: 90%;/* height: 90%; */left: 5%;}
 html body.google-review-cards .container section.section-1 .left-side .card .card-3{opacity: 0;top: 30px;animation: cards 3s cubic-bezier(0.97, 0.08, 0, 1.08) 2.5s 1 normal forwards;width: 95%;/* height: 95%; */left: 10%;}

 @keyframes cards{
   0%{ transform: scale(1.8)   translate(100px, -180px); opacity: 0;}
   50%{ opacity: 0;}
   60%{ opacity: 0.9;}
   100%{ transform: scale(1)   translate(0, 0px); opacity: 1;}   
 } 
 html body.google-review-cards .container section.section-1 .left-side {animation: bganimation 1.2s ease-in-out 0s infinite alternate;}
 @keyframes bganimation{
   from{ background-size : auto 95%;background-position: 85%  center;}
    to{ background-size : auto 100%;background-position: right  center;}
 }
 


 html body.google-review-cards .container section .left-side .mobile-slide {position: absolute;right: 55%;top: -20px;bottom: 0;margin: auto;height: 300px;width: 626px;} 
 html body.google-review-cards .container section.section-2 .left-side .card { top: 0; bottom: 0; margin: auto; left: 0; right: -110px; width: 360px; height: 247px; } 
 html body.google-review-cards .container section.section-2 .left-side { background: url(../images/sect-2-bg.svg) no-repeat right center; background-size: auto 165%; background-position: 31% center; z-index: 1;} 
 html body.google-review-cards .container section.section-2 .left-side:before { width: 10px; height: 10px; content: ''; position: absolute; z-index: -1; right: 35%; top: 0; bottom: 0; box-shadow: 0 0 210px 205px rgba(0, 255, 240, 0.19); border-radius: 100px; margin: auto; }

 html body.google-review-cards  section img { max-width: 100%; height: auto; } 
 html body.google-review-cards  section h4 { font-size: 2.8rem; line-height: 1.2; font-weight: 400; margin: 0 0 0.5em;    font-family: 'Poppins'; } 
 html body.google-review-cards  section h4 strong { font-weight: 500; } 
 html body.google-review-cards  section h3 { line-height: 1.3em; font-size: 2.8rem; margin: 0; font-weight: 800;     font-family: 'Poppins'; color: #fff;}

 html body.google-review-cards .container section .cards-blks { display: flex; width: 100%; justify-content: space-between; } 
 html body.google-review-cards .container section .cards-blks .row { width: 30.5%; border: 3px solid; border-radius: 30px; justify-content: center; text-align: center; padding: 0 20px 20px; } 
 html body.google-review-cards .container section .cards-blks .row h3.title { font-weight: 600; text-transform: uppercase; font-size: 2rem; line-height: 1em; margin: 1em 0 20px; } 
 html body.google-review-cards .container section .cards-blks span.helptext { font-weight: 200; font-size: 0.95rem; text-transform: uppercase; } 
 html body.google-review-cards .container section .price-canceled { font-weight: 800; text-decoration: line-through; color: rgba(255, 99, 99, 1); font-size: 1.5rem; } 
 html body.google-review-cards .container section .offer-price { font-weight: 800; font-size: 2.6rem; line-height: 1.1em; } 
 html body.google-review-cards .container section .cards-cta a {display: inline-block; background: #fff; text-decoration: none; font-weight: 800; padding: 1px 45px; border-radius: 35px; font-size: 1.4rem; color: #000; position: relative; overflow: hidden; z-index: 1;overflow: hidden;    transition: all 0.2s ease-in;} 
 html body.google-review-cards .container section .cards-cta a:hover { /* color: #fff; */ transform: scale(1.1); }
 html body.google-review-cards .container section .cards-cta { display: block; padding: 10px 0; } 
 html body.google-review-cards  section  .cards-blks .row.row-2 { border-color: #33fe00; } 
 html body.google-review-cards  section  .cards-blks .row.row-3 { border-color: #fe00d5; } 
 html body.google-review-cards  section .cards-blks .row.row-3 .cards-cta a { background: #fe00d5; } 
 html body.google-review-cards  section .cards-blks .row.row-2 .cards-cta a { background: #33fd00; }

 html body.google-review-cards  .page-bottom {background: #fff;margin: 0 0 0em;display: flex;} 
 html body.google-review-cards .container section.section.section-3 { padding: 0 0 4em; } 
 html body.google-review-cards  section.section.section-clients { max-width: 1225px; margin: auto; padding: 0 0 2.5em; display: block; } 
 html body.google-review-cards  section.section.section-clients > h2 {color: #070631;text-align: center;margin: 0.8em 0;font-family: 'Poppins';text-transform: uppercase;} 
 html body.google-review-cards  section .clients-blks { display: flex; width: 100%; } 
 html body.google-review-cards  section .clients-blks .row { width: 30%; margin: 0 2%; background: #070631; padding: 3em 20px 3em; font-size: 15px; line-height: 1.5em; } 
 html body.google-review-cards  section .clients-blks .row .content { display: inline-block; padding: 0 0 20px; } 
 html body.google-review-cards  section .clients-blks .row .auth-info { font-weight: 500; }

 html body.google-review-cards .container h1 { text-align: center; font-size: 3.4rem; line-height: 1.1em; font-weight: 800; text-transform: uppercase; font-family: 'Poppins'; max-width: 900px; margin: 0.3em auto 1.6em; } 
 html body.google-review-cards section.section-1 h2 { font-size: 2.8rem; /* font-weight: 400; */ /* text-transform: none; */ } 
 html body.google-review-cards .container h1 span { font-weight: 500; /* text-transform: none; */ }

 

   @media all and (max-width:767px){  
      
    

   }

   @media only screen and (min-width: 451px) and (max-width: 767px) { 
    
   }

   @media all and (max-width:450px){  
   
   }

 @media screen and (max-width:1080px) {
   html body.google-review-cards .container section.section .left-side { min-height: 350px; } 
   html body.google-review-cards .container section.section .left-side .video { width: 217px; left: 0; } 
   html body.google-review-cards .container section.section .left-side { background-position: center; } 
   html body.google-review-cards .container  { max-width: 768px; } 
   html body.google-review-cards .container section h2, html body.google-review-cards  section h2, html body.google-review-cards .container h1  { font-size: 2.7rem; } 
   html body.google-review-cards .container section h4 { font-size: 2rem; } 
   html body.google-review-cards .container section h3 { font-size: 2.1rem; } 
   html body.google-review-cards .container section .left-side .mobile-slide {right: 61%;top: 0;bottom: 0;margin: auto;height: 240px;width: 476px;} 
   html body.google-review-cards .container section.section-2 .left-side .card { width: 250px; left: 0; right: 0; height: 180px; } 
   html body.google-review-cards .container section .cards-blks .row { width: 32%; padding: 0 10px 10px; } 
   html body.google-review-cards .container section .cards-blks .row h3.title { font-size: 1.4rem; } 
   html body.google-review-cards .container section .cards-blks span.helptext { line-height: 1.2em; font-size: 0.8rem; } 
   html body.google-review-cards  section.section.section-clients { max-width: 768px; } 
   html body.google-review-cards  section .clients-blks .row { margin: 0 5px; width: 33%; }
   html body.google-review-cards section.section-1 h2 {font-size: 2.6rem;}



   html body.google-review-cards .container section.section.section-1 .left-side {animation: bganimation1 1.2s ease-in-out 0s infinite alternate;}
 @keyframes bganimation1{
   from{ background-size : auto 95%;background-position: center  center;}
    to{ background-size : auto 100%;background-position: center  center;}
 }
 
 .container .section.section-1 .left-side .card { bottom: -26%; width: 200px; }

 }

 @media screen and (max-width:767px) {
   html body.google-review-cards .container { width: 550px;max-width: 100%; } 
   html body.google-review-cards .container .section .left-side { width: 100%; } 
   html body.google-review-cards .container section .right-side { width: 100%; padding: 0; text-align: center; } 
   html body.google-review-cards .container section.section { /* flex-direction: column-reverse; */ position: relative; z-index: 1; margin: 0 0 2em; } 
   html body.google-review-cards .container section.section-1 .right-side { padding: 4em 0 0; text-align: center; } 
   html body.google-review-cards .container section.section:before { content: ''; width: 100vw; left: -50vw; right: -50vw; position: absolute; height: 1px; background: #fff; bottom: -3em; margin: auto; opacity: 0.2; } 
   html body.google-review-cards .container section.section.section-3 { padding: 0 0 0em; } 
   html body.google-review-cards .container section.section-2 .right-side { max-width: 380px; margin: auto; padding: 2em 0 0; } 
   html body.google-review-cards .container section .cards-blks { flex-wrap: wrap; max-width: 330px; margin: auto; } 
   html body.google-review-cards .container section .cards-blks .row { width: 100%; margin: 0 0 1.5em; } 
   html body.google-review-cards  section.section.section-clients { max-width: 500px; padding: 0 0 1.5em; } 
   html body.google-review-cards  section .clients-blks { flex-wrap: wrap; } 
   html body.google-review-cards  section .clients-blks .row { width: 100%; margin: 0 0 17px; padding: 2em 9% 2em; } 
   html body.google-review-cards  .page-bottom {margin: 0 0 0em;}

   html body.google-review-cards .container section.section.section-1 .left-side .card {bottom: -25%;width: 200px;right: 16%;}
 }
 @media screen and (max-width:550px) {
 /*    header a.logo-center { max-width: 100px; }  */
 html body.google-review-cards .container section .left-side { height: 55vh; min-height: auto; max-height: calc( 100vw / 1.3 ); background-size: 85% auto; } 
 html body.google-review-cards .container section .left-side .video { width: 50%; } 
 html body.google-review-cards .container section .left-side .card { width: 46%; } 
 html body.google-review-cards .container section.section.section-1 { margin: 1em 0 2em; } 
 html body.google-review-cards .container section h2, html body.google-review-cards  section h2,  html body.google-review-cards .container h1  { font-size: 2.3rem; }
 html body.google-review-cards .container section.section.section-2 .left-side { background-size: 130% auto; } 
 html body.google-review-cards .container section.section-1 .right-side { padding: 5em 0 0; } 
 html body.google-review-cards .container section.section.section-2 .left-side .card { width: 50%; height: calc(60vw / 1.75); } 
 html body.google-review-cards .container section.section .left-side .mobile-slide {width: 87vw;height: calc(75vw / 1.65);} 
 html body.google-review-cards .container section h4 { font-size: 1.7rem; } 
 html body.google-review-cards .container section h3 { font-size: 1.7rem; }
 html body.google-review-cards section.section-1 h2 {font-size: 2rem;}


    html body.google-review-cards .container section.section.section-1 .left-side .card { bottom: -26%; width: 45%; height: calc(100% / 2); }
    


 }
 @media screen and (max-width:400px) {
   html body.google-review-cards  section.section.section-clients > h2 { max-width: 325px; margin: 0.8em auto }
 }

html body.google-review-cards .site-breadcrumbs {
    display: none;
}