.business-pro-section {
    /* position: relative; */
    max-height: 115vh;
    overflow: hidden;
    margin-bottom: 4rem;
  }
  
  .star-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  /* .content-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
  } */
  
  .text-animated-block h1{
margin-bottom: 2rem;
  }
  .text-animated-block h2 {
    margin-bottom: 4rem;
      }
  .text-animated-block h5{
    margin-bottom: 3rem;
    font-size: 4rem;
  }
  .text-animated-block p {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
  
  .explore-btn,
  .trial-btn {
    padding: 1.8rem 1.6rem;
    font-size: 25px;
    
    width: 50%;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .explore-btn {
    background-color: #fff;
    color: #333;

  }
  
  .trial-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
   
  }
  /* styles/Home.css */
  .teamsHeading h2{
      color: #fff;
      text-align: center;
      font-size: 96px;
      font-style: normal;
      font-weight: 900;
      line-height: 105%;
      margin-bottom: 25px;
      margin-bottom: 4rem;

  }
.teamscontainer {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  
}

.teamscard-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.teamscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teamsicon-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.teamsicon {
  max-width: 100%;
  max-height: 100%;
}

.teamstitle {
  font-size:32px;
  font-weight: 800;
  margin: 1rem;
  text-align: center;
  color: #000;
}

.dataSecurity img{
  margin-bottom: 2rem;
  }
  .dataSecurity h2{
    margin-bottom: 2rem;
    }
    .datasecurityspan{
     line-height: 93px;

      }
  .cardDiv{
    min-width: 100vw;
  }
.video1{
 border-radius: 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  max-height: 80vh;
}

@media screen and (max-width:767px) {
  .teamscard-grid {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
}
.text-animated-block{
padding: 50px 0;
margin-bottom: 12rem;
}
.text-animated-block h1{
  font-size: 180px;
}
.text-animated-block h2{
  font-size: 100px;
  margin-bottom: 2rem;
}
.text-animated-block h5{
  font-size: 36px;
  margin-bottom: 2rem;
}
.text-animated-block p{
  font-size: 28px;
}
.explore-btn, .trial-btn {
  padding: 1rem 1.6rem;
  font-size: 20px;
  width: 50%;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 40px;
}
.teamsHeading h2{
  font-size: 47px;
margin: 2rem;
}
.teamscontainer{
  max-width: 95%;
}
.teamscard{
  padding: 2rem;
}
.teamsicon-container{
  width: 60px;
  height: 60px;
}
.teamstitle{
  font-size: 26px;
}
.video1{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section1{
  padding: 2rem !important;
}
.section1 img{
 width: 250px;
 height: 250px;

}
.card-inner .text-wrp h2{
  display: flex;
  text-align: center;
  font-size: 35px;
  width: 100vw;
}
.wrap-col{
padding: 2rem;
}
.col-fix-full{
  border-radius: 70px;
}
.full-card.flex-align {
  padding: 30px;
  display: block;
}
.full-card.flex-align h2{
  font-size: 30px;
  margin-bottom: 1rem;
}
.flex-justify-end, .flex-justify-end a{
  margin-bottom: 20px;
}
}